footer.contact div.contact div.contactus ul li{
    position:relative;
}

footer.contact div.contact div.contactus ul li::after{
    content:'';
  
    position:absolute;
     top:0;
    left:0;
    background:#000;
    z-index:2; 
}
